{%extends 'base/base.html'%}
{%block content%}
    <div>
        <div id='about-me'>
            <h2>个人简介</h2>
            <p>目前是普通程序员一枚。。。</p>
            <p>昵称：Xsank</p>
            <div class='email'><p>联系我: Email</p></div>
        </div>
        <div id='about-website'>
            <h2>关于本站</h2>
            <p>这是我的个人独立博客网站，在这里，非常感谢NewLiu网友的开源支持，本站再次基础上学习后，也会将源码公开于github上供和我一样的菜鸟学习</p>
            <p>本网站的开发语言是Python，使用的django框架，本站源代码开源在github上：
                <a href='https://github.com/xsank/MiniBlog' target="_blank">https://github.com/xsank/MiniBlog</a>
            </p>
        </div>
    </div>
{%endblock%}